# Maven build output
target/

# Allure (generated reports)
allure-results/
allure-report/

# IntelliJ
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IMPORTANT: Always keep testng.xml
!testng.xml